[run]
data_file = /home/jarno/Dropbox/Biologie/Bachelorarbeit/source/django-disbi/.coverage
omit =
    # Omit __init__ files.
    */__init__.py
    # Omit the settings file.
    settings.py
    # Omit migrations.
    */migrations/*
    # Omit import_export
    */_import_export/*
    # Omit site-packages
    */site-packages/*
    # Omit other files
    */manage.py
    */settings.py
    */tests.py
