{% extends "base.html" %}


{% block head %}

<title>DISBI | Reset Password</title>

{% endblock %}

{% block content %}

<div class="grid grid-pad">
<p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>

<form method="post">{% csrf_token %}
{{ form.email.errors }}
<p>
<label for="id_email">Email address:</label> 
{{ form.email }} 
<input class="action-button" type="submit" value="Reset my password" /></p>
</form>
</div>
{% endblock %}

